@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
body{
  font-family: "Playfair Display", serif;
}
.container-fluid{
  margin-bottom: 20px;

  .form-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    
    h1, h2 {
      color: #333;
      margin-bottom: 10px;
    }
  
    .form-group, .feature-group {
      margin-bottom: 15px;
  
      label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
      }
  
      input, textarea {
        width: 100%;
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 4px;
      }
    }
  
    .submit-button {
      background-color: #28a745;
      color: #fff;
      border: none;
      padding: 10px;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
  
      &:hover {
        background-color: #218838;
      }
    }
  }
}  
  